@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --font-display: 'Bebas Neue', sans-serif;
  --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-display);
   
}

 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

