.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.main video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(60%);
}

.mainInfo {
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  gap: 1.5em;
  text-align: right;
 
  letter-spacing: 0.1em;
  
}

.mainInfo h1 {
  font-size: 4.5em;
}
.mainInfo p {
  font-size: 2em;

}

.mainInfo button {
  padding: 0.4em 1em;
  font-size: 1.8em;
  font-family: var(--font-display);
  color: white;
  background-color: transparent;
  border: 2.5px solid white;
  border-radius: 0.3em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.mainInfo button:hover {
  background-color: white;
  color: black;
   
}

.coMainInfo {
  margin-bottom: 4em;
  height: 60%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
   
}

.coMainInfo img {
  height: 100%;
  object-fit: contain;
 
}


@media (max-width: 1024px) {
  .mainInfo h1 {
    font-size: 3.5em;
  }
  .mainInfo p {
    font-size: 1.8em;
  }
  .mainInfo button {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mainInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }
  .mainInfo h1 {
    font-size: 3em;
  }
  .mainInfo p {
    font-size: 1.5em;
    text-align: center;
  }
  .mainInfo button {
    font-size: 1.5em;
  }
  .coMainInfo {
    height: 40%;
    margin-bottom: 2em;
  }
}

@media (max-width: 481px) {
  .mainInfo {
    margin-bottom:9em;
  }
  .mainInfo h1 {
    font-size: 2em;
  }
  .mainInfo p {
    font-size: 1.2em;
  }
  .mainInfo button {
    font-size: 1.2em;
    padding: 0.3em 0.8em;
  }
  .coMainInfo {
    height: 30%;
  }
}