.footer {
  margin-top: 10%;
  background-color: rgb(31, 31, 31);
  width: 100%;
  padding: 3em 0;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  gap: 1em;
  color: white;
  font-size: 1.2em;
  letter-spacing: 1px;
}

.footer div {
  width: 20%;
  display: flex;
  flex-direction: column;
   
}

.footer div h4{
  letter-spacing: 2px;
  font-weight: lighter;
}


.footer div ul {
  list-style: none;
  padding: 0;
  margin-top: 0.3em;
   
}

.footer div ul li {
  margin-top: 1em;
  font-size: 0.8em;
  cursor: pointer;
   
   
}

.footer div:nth-of-type(4){
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer div:nth-of-type(4) ul:nth-of-type(1){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.footer div:nth-of-type(4) ul:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: end;
  width: 70%;
}

.footer div ul li img {
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
}

@media (max-width:1024px){
  .footer{
    font-size: 1em;
  }
}

@media (max-width:768px) {
  .footer{
    font-size: 0.9em;
  }
}

@media (max-width:481px) {
  .footer {
    font-size: 0.8em;
  }

  .footer div:nth-of-type(4) ul:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
  }

  .footer div ul li img {
  width: 1.5em;
  height: 1.5em;
   
}
}