.header{
  max-width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  color: white;
}

.header h1{
  font-size: 2.5em;
  cursor: pointer;
  margin-left: 3em;
}

.header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  height: 100%;
  width: auto;
  margin-right: 3em;
}

.header nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.9em;
}

.header nav ul li{
  list-style: none;
}

.link{
  padding: 0.3em 1.4em;
  border-radius: 0.2em;
  text-decoration: none;
  color: white;
  letter-spacing: 0.09em;
  transition: all 0.3s ease;
}

.link:hover{
  background-color: white;
  color: black;
  
}

.linkActive{
  background-color: white;
  color: black;
}


@media(max-width: 1024px) {
  .header{
    height: 8vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .header h1{
    font-size: 2em;
    cursor: pointer;
  }

  .header nav{
  
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }

  .header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 769px) {
  .header{
    height: 8vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .header h1{
    font-size: 1.8em;
    cursor: pointer;
  }

  .header nav{
  
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }

  .header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 481px) {
  .header{
    height: 12vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .header h1{
    font-size: 1.8em;
    cursor: pointer;
    margin: 0;
  }

  .header nav{
     
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

